**/.vs/
**/.vscode/
**/.idea/
**/obj/
**/out/
**/build/
**/.git/
**/.editorconfig
**/.fake
**/__pycache__/
.externalNativeBuild
.cxx
local.properties
**/.gradle/
**/gradle/
src/trainer/ClassifAI_venv/
src/client/local.properties
src/client/gradlew
src/client/gradlew.bat
src/client/gradle.properties
src/client/*.iml
src/client/*.log
src/client/*.tmp
src/client/*.bak
src/client/*.swp
src/client/*.jks
src/client/*.keystore